.tip-left, .tip-right {
  font-family: 'Poppins Medium', serif;
  font-weight: 500;
  font-size: .6rem;
  font-size: .7rem;
  color: #333333;
  padding: 9px 0;
  margin-bottom: 20px;
}

.tip-left {
  right: 3%;
}

.tip-right {
  left: 3%;
}
.color-teeth {
  width: 100%;
  height: 100%;
}
.label-teeth {
  font-family: 'Poppins Medium', serif;
  font-weight: 500;
  font-size: .6rem;
  font-size: .7rem;
  color: #333333;
  padding: 5px 0;
  margin-bottom: 5px;
}