.error-msg {
    font-family: 'SF UI Text Medium';
    font-weight: 700;   
    font-size: 10px;
    line-height: 16px;
    color: #30313D;
    letter-spacing: 0.34px;
    color: #a94442;
  }
  .fix-error-icon {
    top: 27px;
  }
